<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>superlatives &middot; πτz</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
	<script src="/static/app.js"></script>
</body>
</html>